/*
************
*************************
03. button
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// default theme btn 
.btn-1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--common-white);
    background-color: var(--theme-primary);
    line-height: 27px;
    padding: 14px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    .icon {
        display: inline-block;
        margin-right: 5px;
        svg * {
            transition: .3s;
        }
    }
    &:hover {
        background-color: var(--light-white);
        border: 1px solid var(--theme-primary);
        color: var(--common-black);
        .icon {
            svg * {
                fill: var(--common-black);
            }
        }
    }
}
