@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.bostami-client {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: var(--light-white-2);
    &-slider-logo {
      padding: 0px 15px;
    }
  }
  
  .bostami-main-menu-wrap {
    width: 144px;
    background: white;
    border-radius: 16px;
    padding: 30px;
    @media #{$xxl} {
      width: 120px;
      padding: 18px;
    }
  }