@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


  
  .bostami-what-do {
  
    &-item {
      border-radius: 12px;
      display: flex;
      gap: 20px;
      padding: 20px;
      padding-bottom: 15px;
      margin-bottom: 30px;
      @media #{$xs} {
        flex-wrap: wrap;
      }
      @media #{$sm} {
        flex-wrap: nowrap;
      }
      .text {
        .title {
          font-weight: 500;
          margin-bottom: 10px;
          @media #{$xl,lg,$md} {
            font-size: 22px;
          }
          @media #{$xs} {
            font-size: 22px;
          }
          @media #{$sm} {
            font-size: 24px;
          }
        }  
        p {
          margin-bottom: 0;
          line-height: 30px;
        }
      }
    }
  }