@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.fillter-btn {
    &-wrap {
        text-align: right;
        @media #{$xs} {
            text-align: left;
        }
        @media #{$sm} {
            text-align: right;
        }
        .fillter-btn {
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            display: inline-block;
            padding: 0 18px;
            cursor: pointer;
            &:hover {
                color: var(--theme-primary);
            }
            &:is(.is-checked) {
                color: var(--theme-primary);
            }
        }
    }
}

.fillter-item {
    display: inline-block;
    border-radius: 12px;
    padding: 20px;
    .img {
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 17px;
    }
    .item-subtitle {
        display: block;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .item-title {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 0;
        &:hover {
            color: var(--theme-primary);
        }
    }
}

.isotop-item,
.grid-sizer {
	width: 50%;
	padding: 0 10px;
    @media #{$xs} {
        width: 100%;
    }
}

.isotop-item > div,
.isotop-item > div {
    margin-bottom: 20px;
}

.page-wrapper-2 {
    .isotop-item,
    .grid-sizer {
	width: 33.33%;
	padding: 0 10px;
        @media #{$lg} {
            width: 33.33%;
        }
        @media #{$md} {
            width: 50%;
        }
        @media #{$xs} {
            width: 100%;
        }
    }
    .fillter-btn-wrap .fillter-btn:hover {
        color: #FA5252;
    }
    .fillter-btn-wrap .fillter-btn.is-checked {
        color: #FA5252;
    }
}