/*
************
*************************
07. what do
******************************************************* 
*************************************************************** */

@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


  
  .bostami-what-do {
  
    &-item {
      border-radius: 12px;
      display: flex;
      gap: 20px;
      padding: 20px;
      padding-bottom: 15px;
      margin-bottom: 30px;
      @media #{$xs} {
        flex-wrap: wrap;
      }
      @media #{$sm} {
        flex-wrap: nowrap;
      }
      .text {
        .title {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
          @media #{$xl,lg,$md} {
            font-size: 22px;
          }
          @media #{$xs} {
            font-size: 22px;
          }
          @media #{$sm} {
            font-size: 24px;
          }
        }  
        p {
          margin-bottom: 0;
          line-height: 30px;
        }
      }
    }
  }

  .bostami-page-wrap {
    .client-2-wrap {
      border-radius: 20px;
      padding-left: 25px;
    }
  }

.page-wrapper-2 {
  .bostami-what-do-item {
    @media #{$md} {
      flex-wrap: wrap;
    }
  }
}

.home-3 {
  .bostami-what-do-item {
    @media #{$lg} {
      flex-wrap: wrap;
    }
  }
  .bostami-what-do-item .text .title {
    @media #{$lg} {
      font-size: 20px;
    }
  }
}