// Font Family 
$roboto: 'Roboto Slab', serif;
$poppins: 'Poppins', sans-serif;


:root {
    --common-white: #ffffff;
    --common-black: #000;
  
    --theme-primary: #1B74E4;
    --theme-secondary: #FA5252;
    --body-text: #44566C;
    --body-heading: #000;
    --heading-black: #0F172A;
    --light-white: #F3F6F6;
    --light-white-2: #F8FBFB;
    --prink: #FFF4F4;
    --catkrill: #EEF5FA;
  
  }

  :root .dark-theme {
    --common-white: #000;
    --common-black: #fff;
  
    --theme-primary: #1B74E4;
    --theme-secondary: #FA5252;
    --body-text: #A6A6A6;
    --body-heading: #fff;
    --heading-black: #0F172A;
    --light-white: #F3F6F6;
    --light-white-2: #F8FBFB;
    --prink: #FFF4F4;
    --catkrill: #EEF5FA;
    
  
  
  }


// Responsive Variables
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';